@import "tailwindcss";

:root {
  --background: #e5ecee;
  --background-2: #c8d0d4;
  --foreground: #171717;
  --accent-bg: #b9cad0;
  --accent-bg-2: #c9d7dd;
  --header: #24506B;
  --link-colour: #9c5a2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --background-image: url(/citylight.jpg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141B21;
    --background-2: #0b0e11;
    --background-image: url(/city.jpg);
    --foreground: #ededed;
    --accent-bg: #223f52;
    --accent-bg-2: #24506B;
    --header: #5995a4;
    --link-colour: #d8874a;
  }
}

body {
  background: linear-gradient(to top, var(--background), var(--background-2)) fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--link-colour);
}

.text-link {
  color: #d8874a;
}

.bg-foreground {
  background-color: var(--foreground);
}

.bg-accent {
  background: linear-gradient(50deg, var(--accent-bg), var(--accent-bg-2));
}

.text-header {
  color: var(--header);
}

.text-accent {
  color: var(--accent-bg);
}

#sidebar {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

p, li {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.project-card {
  text-align: left;
}

.gallery-image {
  width: auto;
  max-height: 250px;
}