@import "tailwindcss";

:root {
  --background: #cfd7d9;
  --background-2: #b1bcbe;
  --foreground: #171717;
  --accent-bg: rgb(196, 209, 214);
  --link-colour: #a7620f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --background-image: url(/citylight.jpg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141B21;
    --background-2: #0b0e11;
    --background-image: url(/city.jpg);
    --foreground: #ededed;
    --accent-bg: #24506B;
    --link-colour: #d8874a;
  }
}

body {
  background: linear-gradient(to top, var(--background), var(--background-2)) fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--link-colour);
}

a.project-link {
  color: #d8874a;
}

.bg-accent {
  background-color: var(--accent-bg);
}

#sidebar {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}